* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, transform 0.3s;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0a0a0a; /* Dark background */
    color: #e0e0e0; /* Light gray for text */
    line-height: 1.6;
}

header {
    background: rgba(20, 20, 20, 0.9);
    padding: 30px;
    text-align: center;
    border-bottom: 2px solid #00bcd4; /* Teal accent */
    animation: fadeIn 1s ease-in;
}

header h1 {
    color: #00bcd4; /* Teal for title */
    font-size: 3em;
    margin-bottom: 10px;
    animation: slideIn 1s ease-out;
}

header p {
    font-size: 1.5em;
}

main {
    padding: 30px;
    max-width: 900px;
    margin: 30px auto;
    background: rgba(30, 30, 30, 0.9); /* Dark semi-transparent background */
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

h2 {
    border-bottom: 2px solid #00bcd4; /* Teal for section headers */
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 2.5em;
    animation: fadeIn 1s ease-in;
}

.devices {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.device {
    background: rgba(50, 50, 50, 0.8);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 40%; /* Adjust based on screen size */
    transition: transform 0.3s;
}

.device:hover {
    transform: scale(1.05); /* Slight grow effect */
}

.how-it-works ul {
    margin-top: 20px;
    list-style-type: none;
}

.how-it-works li {
    background: rgba(70, 70, 70, 0.7);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    transition: transform 0.3s;
    animation: fadeIn 1s ease-in;
}

.how-it-works li:hover {
    transform: scale(1.05); /* Slight grow effect */
}

footer {
    text-align: center;
    padding: 30px;
    background: rgba(10, 10, 10, 0.9);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
    border-top: 1px solid #00bcd4; /* Teal border for footer */
}

footer .credits {
    margin-bottom: 10px;
    font-size: 1em; /* Smaller font for credit names */
    color: #b0c4de; /* Lighter color for credits */
}

footer .credits p {
    margin: 5px 0; /* Slight space between names */
}

footer p {
    color: #00bcd4; /* Teal for footer text */
    font-size: 1.5em;
}

/* Animations */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}